@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/FuturaPTBook.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/FuturaPTMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/FuturaPTDemi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/FuturaPTBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #000000;
}

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-green: #B6D242;
  --color-blue: #087CBA;
  --color-violet: #463492;
  --color-silver: #B9B9B9
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Futura PT', sans-serif;
}

